{% style %}
  .smpl-services-section.section-{{ section.id }} {
    {% if section.settings.bg_image != blank %}
      background-image:url({{ section.settings.bg_image | image_url }});
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    {% endif %}
    padding-top:{{ section.settings.desktop_padding_top }}px;
    padding-bottom:{{ section.settings.desktop_padding_bottom }}px;
  }
  .smpl-services-section .page-width{
    max-width:{{ section.settings.container_size }}px;
    margin:0 auto;
    padding:0 15px;
  }
  .smpl-services-content {
    display: grid;
    gap: 52px;
    text-align: center;
    padding: 0 66px 77px 60px;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #C8C8C8;
  }
  .services-image-text h3 {
    padding-top: 21px;
    color: #282828;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.56px;
    letter-spacing: -0.342px;
    max-width: 162px;
    width: 100%;
    margin: 0;
    padding-left: 5px;
  }
        
  @media screen and (max-width:1024px) {
    .smpl-services-section.section-{{ section.id }} {
      padding-top:{{ section.settings.tablet_padding_top }}px;
      padding-bottom:{{ section.settings.tablet_padding_bottom }}px;
    }
    .services-image-text h3 {
      padding-top: 7px;
      font-size: 14px;
      line-height: 21.56px;
    }
    .smpl-services-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      padding: 0 0 67px;
    }
  }
  @media screen and (max-width:767px) {
    .smpl-services-section.section-{{ section.id }} {
      padding-top:{{ section.settings.mobile_padding_top }}px;
      padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
    }
    .smpl-services-content {
      flex-direction: column;
      gap: 56px;
      padding:0 63px 67px;
    }
    .services-image-text img {
      max-width: 104px;
      width: 100%;
    }
    .services-image-text h3 {
      font-size: 24px;
      line-height: 34.08px;
      letter-spacing: -0.456px;
      padding: 16px 0 0;
      max-width: 100%;
    }
  }
{% endstyle %}
<section class="smpl-services-section section-{{ section.id }} {{ section.settings.custom_class }}">
  <div class="page-width">
    <div class="smpl-services-content">
      {% for block in section.blocks %}
        <div class="services-image-text">
          {% if block.settings.image_services != blank %}
            <img src="{{ block.settings.image_services | image_url }}" width="auto" height="auto" alt="{{ block.settings.image_services.alt }}">
          {% endif %}
          {% if block.settings.services_heading != blank %}
            <h3>{{ block.settings.services_heading }}</h3>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Smpl services section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "custom_class",
        "label": "Custom class"
      },
      {
        "type": "number",
        "id": "container_size",
        "label": "Page width",
      },
      {
        "type": "header",
        "content": "Desktop padding"
      },
      {
        "type": "range",
        "id": "desktop_padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Desktop top padding",
        "default":69
      },
      {
        "type": "range",
        "id": "desktop_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Desktop Bottom padding",
        "default":0
      },
      {
        "type": "header",
        "content": "Tablet spacing"
      },
      {
        "type": "range",
        "id": "tablet_padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Tablet top padding",
        "default":50
      },
      {
        "type": "range",
        "id": "tablet_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Tablet Bottom padding",
        "default":0
      },
      {
        "type": "header",
        "content": "Mobile spacing"
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Mobile top padding",
        "default":64
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Mobile Bottom padding",
        "default":0
      }
    ],
    "blocks": [
      {
        "type": "image_text",
        "name":"Image with text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_services",
            "label": "Image icon"
          },
          {
            "type": "text",
            "id": "services_heading",
            "label": "Heading text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Smpl services section"
      }
    ]
  }
{% endschema %}